.chat_main
  .chat_main__group.info
    .chat_main__group.info__left.box
      .chat_main__group.info__left.box__group.name1
        = @group.name
      .chat_main__group.info__left.box__menber.list
        - @group.users.each do |user|
          = user.name
    .chat_main__group.info__edit.btn
      =link_to edit_group_path(@group)  do
        ="Edit"
  .chat_main__message.lists
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'





