.side_bar 
  .side_bar__user.name
    .side_bar__user.name__top_item
      .side_bar__user.name__top_item__name
        = current_user.name
      .side_bar__user.name__top_item__icon
        = link_to new_group_path  do
          =icon('far', 'edit')
        = link_to edit_user_path(current_user)  do
          =icon('fas', 'cog')
  .side_bar__group.lists
    -  current_user.groups.each do |group|
      .side_bar__group.lists__group.list
        = link_to group_messages_path(group) do
          .side_bar__group.lists__group.list__group.name
            = group.name
          .side_bar__group.lists__group.list__group.name__last.message
            = group.show_last_message